html, body {
    margin: 0;
    height: 100%;
}

.grid-container{
    display: grid;
    min-height: 80vh;
    width: 80vw;
    background-color: blue;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 6fr;
}

.side-bar{
    background-color: pink;
    grid-row: 1/4;
    grid-column: 1/2;
}

ul{
    list-style-type: none;
}

.nav-bar{
    background-color: palevioletred;
    grid-row: 1/2;
    grid-column: 2/3;
}

.header{
    background-color: plum;
    grid-row: 2/3;
    grid-column: 2/3;
}

.article{
    background-color: lightpink;
    grid-row: 3/4;
    grid-column: 2/3;
}