@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
}

.grid-container{
    display: grid;
    min-height: 100%;
    width: 100vw;
    background-color: blue;
    grid-template-columns: 1fr 4fr;
    /* grid-template-rows: 0.8fr 0.5fr 6fr; */
    grid-template-rows: auto auto 1fr;

}

.side-bar{
    background-color: palevioletred;
    color: white;
    display: grid;
    grid-row: 1/4;
    grid-column: 1/2;
    grid-template-rows: auto 3fr 4fr;
    padding: 0 20px;
}

.logo-container{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px; 
}

.logo {
    margin: 0; 
    margin-top: 15px;      
    font-size: 2rem;
}

.logo-container svg {
    width: 32px;
    height: 32px;
    display: block;  
    fill: white;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 0 10px 15px 10px;
}

.profile-container{
    grid-row: 2/3; 
    text-align: left;
    padding: 5px;
}

.special-case{
    margin-top: 0;
}

.setting-container li{
    padding: 15px;
}

.nav-bar{
    background-color: #fff5f1;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 2.5fr 1fr;
    grid-row: 1/2;
    grid-column: 2/3;
}

.nav-item1{
    margin-top: 12px;
    grid-template-columns: 1fr 1fr;
}

.fa-solid{
    width: 30px;
}

.nav-item2{
    display: grid;
    grid-template-columns: 0.5fr 0.6fr 2fr;
}

.search-button{
    background-color: transparent;
    border: none;
}

svg{
    width: 25px;
    margin-top: 15px;
}

.side-bar svg {
    width: 24px;
    height: 24px;
    display: block;
    fill: white;
}

.side-bar li {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

.side-bar .profile-container p{
    margin-top: 35px;
}

input{
    width: 80%;
    padding: 10px;
    border-radius: 50px;
    border: none;

}

.profile-picture{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 12px;
}

.header{
    background-color: #fff5f1;
    display: grid;
    grid-template-columns: 0.7fr 4fr 2fr;
    grid-row: 2/3;
    grid-column: 2/3;
}

.header-profile{
    padding: 0 0 10px 20px;
}

.header-img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.btn{
    padding: 3%;
    width: 20%;
    margin: 3%;
    border-radius: 50px;
    border: none;
    background-color: palevioletred;
    color: white;
}

.header-buttons{
    margin-top: 20px;
}

.article{
    background-color: #ffe2ec;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    grid-row: 3/4;
    grid-column: 2/3;
}

.project-section{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.75rem;
    align-content: start;
}

.project-section-info{
    display: grid;
    grid-template-columns: repeat(2, 0.6fr);
    gap: 3rem;
    padding:0 2.4rem;
}

.info{
    background-color: rgb(255, 255, 255);
    border-left: 8px solid rgb(156, 0, 78);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem 3rem;
    align-content: start;
}

.project-title{
    margin: 40px;
    margin-bottom: 0;
}

.share{
    transform: rotate(-90deg);
}

.icons{
    display: grid;
    justify-content: right;
    grid-template-columns: repeat(3, 0.2fr);
    align-items: end;
    margin-top: 20px;
}

.announce{
    background-color: white;
    border-radius: 10px;
    font-size: 13px;
    margin-top: 0.3rem;
    padding: 1.5rem;
    padding-bottom: 3rem;
    width: 230px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.announcement-title{
    margin-top: 15%;
    margin-bottom: 0;
}

hr{
    color: rgba(210, 210, 210, 0.056);
    width: 100%;
    margin: 0 auto;
}

.trending-section{
    background-color: white;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-pic{
    width: 40px;
    height: 40px;
    margin: 0.5rem;
    margin-left: 10px;
    border-radius: 50%;
}

.profiles{
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0.5rem;
    margin-left: 10%;
    width: 260px;
    text-align: left;
}

.info-holder{
    margin: 0 auto;
    padding: 0;
    margin-right: 20%;
}

.description{
    font-size: 13px;
    margin: 0;
    padding: 0;
    width: 100px;
}

.names{
    font-size: 15px;
    width: 100px;
    margin: 0;
    padding: 0;
}

.trending-title{
    margin-top: 7%;
}