html, body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

.grid-container{
    display: grid;
    min-height: 100vh;
    width: 100vw;
    background-color: blue;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 0.8fr 0.5fr 6fr;
}

.side-bar{
    background-color: pink;
    display: grid;
    grid-row: 1/4;
    grid-column: 1/2;
    grid-template-rows: 1fr 3fr 4fr;
    padding: 0 20px;
}

.logo-container{
    text-align: center;
}

ul{
    list-style-type: none;
}

li{
    padding: 0 10px 15px 10px;
}

.profile-container{
    grid-row: 2/3; 
    text-align: left;
    padding: 5px;
}

.nav-bar{
    background-color: palevioletred;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 2.5fr 1fr;
    grid-row: 1/2;
    grid-column: 2/3;
}

.nav-item1{
    margin-top: 12px;
    grid-template-columns: 1fr 1fr;
}

.fa-solid{
    width: 30px;
}

.nav-item2{
    display: grid;
    grid-template-columns: 0.5fr 0.6fr 2fr;
}

.search-button{
    background-color: transparent;
    border: none;
}

svg{
    width: 25px;
    margin-top: 15px;
}

input{
    width: 80%;
    padding: 10px;
    border-radius: 50px;
    border: none;

}

.profile-picture{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 12px;
}

.header{
    background-color: palevioletred;
    display: grid;
    grid-template-columns: 0.7fr 4fr 2fr;
    grid-row: 2/3;
    grid-column: 2/3;
}

.header-profile{
    padding: 0 0 10px 20px;
}

.header-img{
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

.btn{
    padding: 3%;
    width: 20%;
    margin: 3%;
    border-radius: 50px;
    border: none;
}

.header-buttons{
    margin-top: 20px;
}

.article{
    background-color: lightpink;
    display: grid;
    grid-row: 3/4;
    grid-column: 2/3;
    grid-template-columns: 3fr 1fr;
    /* grid-template-rows: ; */
}

.project-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-row: 1/2;
    grid-column: 1/2;
}

.project-section-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
}